---
// Assets
import { Image } from "astro:assets";
import LimeStripe from "@/images/assets/LimeStripe.png";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Icons
import Plus from "@/components/foundations/icons/Plus.astro";
// Components
import IntegrationsSearch from "@/components/integrations/IntegrationsSearch.astro";
import IntegrationsEntries1 from "@/components/integrations/IntegrationsEntries1.astro";
// Content
import { getCollection } from "astro:content";
const allIntegrations = (await getCollection("integrations")).sort((a, b) =>
  a.data.integration.localeCompare(b.data.integration)
);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="relative py-32 lg:pb-80 overflow-hidden">
      <Image
        src={LimeStripe}
        alt="Lime Stripe"
        class="absolute inset-0 size-full pointer-events-none scale-180 rotate-x-180 top-100"
      />

      <div class="relative">
        <Text
          class="span"
          variant="textXS"
          data-aos="fade-down"
          data-aos-duration="1000"
          class="flex items-center font-medium uppercase text-base-500 gap-2"
        >
          <Plus size="sm" class="text-yellow-600" />
          Integrations
        </Text>
        <Text
          tag="h1"
          variant="display2XL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="font-semibold tracking-tighter text-base-800 lg:text-balance mt-8"
        >
          Integrations
        </Text>
        <Text
          tag="p"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1500"
          class="max-w-lg mt-4 font-medium text-base-800 md:text-balance"
        >
          Connect your bank account with top-tier payment providers. Enable
          secure, fast, and global transactions with Recurly, Stripe, Chargebee,
          and more.
        </Text>
        <IntegrationsSearch />
      </div>
    </Wrapper>
  </section>
  <section>
    <Wrapper variant="standard" class="py-4 border-t">
      <div
        class="items-start grid grid-cols-1 gap-2 lg:grid-cols-3 -mt-20 lg:-mt-60 z-40"
      >
        {allIntegrations.map((post) => <IntegrationsEntries1 post={post} />)}
      </div>
    </Wrapper>
  </section>
</BaseLayout>
