---
// Assets
import LogoLink from "@/components/assets/LogoLink.astro";
// Fundations
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
---

<footer class="overflow-hidden relative">
  <Wrapper class="py-12 border-t">
    <div
      class="grid grid-cols-1 gap-y-24 sm:grid-cols-2 rounded--4xl lg:grid-cols-4"
    >
      <div
        class="grid grid-cols-1 sm:grid-cols-2 gap-y-8 lg:grid-cols-4 brand-text-color text-xs lg:col-span-4"
      >
        <div class="lg:pr-8">
          <LogoLink class="h-6 brand-heading-color" />
          <Text
            id="year"
            tag="p"
            variant="textXS"
            class="brand-heading-color font-medium mt-2"
          >
            © Trey Willetto {new Date().getFullYear()}
          </Text>
        </div>
      </div>
    </div>
    <div class="mt-14"></div>
  </Wrapper>
</footer>

<style>
  footer a:hover {
    color: var(--heading-text-color);
  }
</style>
