---
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Icons
import ApiApp from "@/components/foundations/icons/ApiApp.astro";
// Content
const systemStatus = [
  { name: "Payments", status: "Operational", color: "bg-teal-100" },
  {
    name: "Transfers",
    status: "Scheduled Maintenance",
    color: "bg-yellow-100",
  },
  { name: "Support", status: "Partial Outage", color: "bg-rose-100" },
  { name: "Login", status: "Operational", color: "bg-teal-100" },
  { name: "API", status: "Degraded Performance", color: "bg-orange-100" },
  { name: "Webhooks", status: "Major Outage", color: "bg-red-100" },
  { name: "Dashboard", status: "Operational", color: "bg-teal-100" },
  { name: "Mobile App", status: "Under Investigation", color: "bg-indigo-100" },
  { name: "Notifications", status: "Delayed", color: "bg-purple-100" },
  {
    name: "Banking Connections",
    status: "Scheduled Maintenance",
    color: "bg-yellow-100",
  },
];
---

<section class="bg-base-50">
  <Wrapper variant="standard" class="py-12 lg:py-24">
    <div class="lg:w-1/2">
      <Text
        class="span"
        variant="textXS"
        data-aos="fade-down"
        data-aos-duration="1000"
        class="flex items-center font-medium uppercase text-base-600 gap-2"
      >
        <ApiApp size="sm" class="text-yellow-600" />
        Real-time System Status
      </Text>
      <Text
        tag="h3"
        variant="displayMD"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="mt-8 font-semibold tracking-tight text-base-800 md:text-balance"
      >
        Stay Updated on Service Availability
      </Text>
      <Text
        tag="p"
        variant="textBase"
        data-aos="fade-up"
        data-aos-duration="1500"
        class="mt-2 text-base text-base-500 lg:text-balance"
      >
        We monitor our systems 24/7 to ensure smooth operations. Get real-time
        updates on payments, transfers, and API availability.
      </Text>
    </div>
    <div class="mt-12 space-y-2">
      {
        systemStatus.map((item) => (
          <div class="flex items-center justify-between p-2 bg-white rounded-lg shadow gap-2 ">
            <Text tag="h3" variant="textSM" class="font-medium text-base-800">
              {item.name}
            </Text>

            <div class="flex">
              <span
                class={` items-center flex font-medium rounded-full text-base-800 py-1 px-2 text-xs ${item.color}`}
              >
                {item.status}
              </span>
            </div>
          </div>
        ))
      }
    </div>
  </Wrapper>
</section>
