---
// Define your data
const stats = [
  { value: "$70M", description: "Total increase in Lexington" },
  { value: "3 months faster", description: "Spazio to launch a platform" },
  { value: "5%", description: "Uplift in Unwrapped payment" },
  { value: "50 new countries", description: "Ike expansion in one lexington" },
  { value: "600 Hours", description: "Total saved by automation" },
  {
    value: "3 days less",
    description: "Reduction in average project timeline",
  },
];
---

<section>
  <div class="px-8 py-24 mx-auto max-w-7xl lg:px-16 md:px-12 xl:px-24">
    <span class="text-sm font-medium tracking-wide text-blue-600 uppercase"
      >always up and up</span
    >
    <h2
      class="mt-6 text-3xl font-semibold tracking-tight text-blue-950 lg:text-5xl lg:text-balance"
    >
      Developing a new era for email communication
    </h2>
    <p class="mt-6 text-base-500 lg:text-balance">
      Envisioning the future of email in an ever-changing digital landscape: why
      settle for outdated methods when innovation awaits?
    </p>

    <div class="mt-12 gap-6 grid grid-cols-1 lg:grid-cols-3">
      {
        stats.map((stat) => (
          <div>
            <p class="pl-4 font-semibold tracking-tight border-l-4 border-blue-500 text-blue-950">
              {stat.value}
            </p>
            <p class="mt-2 text-base-500">{stat.description}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>
