---
// Assets
import { Image } from "astro:assets";
import LimeStripe from "@/images/assets/LimeStripe.png";
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Link from "@/components/foundations/elements/Link.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Icons
import ChevronLeft from "@/components/foundations/icons/ChevronLeft.astro";
import ChevronRight from "@/components/foundations/icons/ChevronRight.astro";
---

<BaseLayout>
  <section class="relative overflow-hidden">
    <Wrapper
      variant="standard"
      class="relative py-32 overflow-hidden h-dvh flex flex-col items-center justify-center"
    >
      <Image
        src={LimeStripe}
        alt="Lime Stripe"
        class="absolute inset-0 size-full pointer-events-none"
      />

      <div class="relative text-center lg:w-1/2 mx-auto">
        <Text
          tag="h1"
          variant="display2XL"
          data-aos="fade-up"
          data-aos-duration="1000"
          class="font-semibold tracking-tighter text-base-800 lg:text-balance"
        >
          Erro 404
        </Text>
        <Text
          tag="p"
          variant="textLG"
          data-aos="fade-up"
          data-aos-duration="1500"
          class="mt-4 font-medium text-base-800 md:text-balance"
        >
          Sorry, but the page you were looking for could not be found. You can
          return to our front page, or drop us a line if you can't find what
          you're looking for.
        </Text>
        <div
          data-aos="fade-up"
          data-aos-duration="2000"
          class="flex flex-col items-center mt-12 gap-2 justify-center max-w-xs mx-auto"
        >
          <Link
            size="base"
            variant="default"
            href="/forms/sign-up"
            gap="xs"
            class="group w-full"
          >
            <ChevronLeft
              size="sm"
              class="duration-300 easy-out-in group-hover:translate-x-2"
            />
            Go to front page
          </Link>
          <Link
            size="base"
            variant="muted"
            href="/forms/contact"
            gap="xs"
            class="group w-full"
          >
            See all pages
            <ChevronRight
              size="sm"
              class="duration-300 easy-out-in group-hover:translate-x-2"
            />
          </Link>
        </div>
      </div>
    </Wrapper>
  </section>
</BaseLayout>
