---
// Fundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
const colors = [
  {
    name: "Teal",
    shades: [
      { name: "Teal 50", class: "bg-teal-50" },
      { name: "Teal 100", class: "bg-teal-100" },
      { name: "Teal 200", class: "bg-teal-200" },
      { name: "Teal 300", class: "bg-teal-300" },
      { name: "Teal 400", class: "bg-teal-400" },
      { name: "Teal 500", class: "bg-teal-500" },
      { name: "Teal 600", class: "bg-teal-600" },
      { name: "Teal 700", class: "bg-teal-700" },
      { name: "Teal 800", class: "bg-teal-800" },
      { name: "Teal 900", class: "bg-teal-900" },
      { name: "Teal 950", class: "bg-teal-950 outline outline-teal-900" },
    ],
  },
  {
    name: "Yellow",
    shades: [
      { name: "Yellow 50", class: "bg-yellow-50" },
      { name: "Yellow 100", class: "bg-yellow-100" },
      { name: "Yellow 200", class: "bg-yellow-200" },
      { name: "Yellow 300", class: "bg-yellow-300" },
      { name: "Yellow 400", class: "bg-yellow-400" },
      { name: "Yellow 500", class: "bg-yellow-500" },
      { name: "Yellow 600", class: "bg-yellow-600" },
      { name: "Yellow 700", class: "bg-yellow-700" },
      { name: "Yellow 800", class: "bg-yellow-800" },
      { name: "Yellow 900", class: "bg-yellow-900" },
      { name: "Yellow 950", class: "bg-yellow-950 outline outline-yellow-900" },
    ],
  },
  {
    name: "Blue",
    shades: [
      { name: "Blue 50", class: "bg-blue-50" },
      { name: "Blue 100", class: "bg-blue-100" },
      { name: "Blue 200", class: "bg-blue-200" },
      { name: "Blue 300", class: "bg-blue-300" },
      { name: "Blue 400", class: "bg-blue-400" },
      { name: "Blue 500", class: "bg-blue-500" },
      { name: "Blue 600", class: "bg-blue-600" },
      { name: "Blue 700", class: "bg-blue-700" },
      { name: "Blue 800", class: "bg-blue-800" },
      { name: "Blue 900", class: "bg-blue-900" },
      { name: "Blue 950", class: "bg-blue-950 outline outline-blue-900" },
    ],
  },
  {
    name: "Base",
    shades: [
      { name: "Base 50", class: "bg-base-50" },
      { name: "Base 100", class: "bg-base-100" },
      { name: "Base 200", class: "bg-base-200" },
      { name: "Base 300", class: "bg-base-300" },
      { name: "Base 400", class: "bg-base-400" },
      { name: "Base 500", class: "bg-base-500" },
      { name: "Base 600", class: "bg-base-600" },
      { name: "Base 700", class: "bg-base-700" },
      { name: "Base 800", class: "bg-base-800" },
      { name: "Base 900", class: "bg-base-900" },
      { name: "Base 950", class: "bg-base-950 outline outline-base-900" },
    ],
  },
];
---
<BaseLayout>
  <section>
    <Wrapper variant="standard" class="py-24">
      <Text
        tag="h1"
        variant="displayXL"
        class="font-semibold tracking-tighter text-base-800 lg:text-balance"
      >
        Colors
      </Text>
      <div class="mt-12 flex flex-col gap-12">
        {
          colors.map((color) => (
            <div class="flex flex-col gap-2">
              <h3 class="font-semibold uppercase dark:text-white text-base-900 text-xs">
                {color.name}
              </h3>
              <div class="mt-2 grid grid-cols-11 gap-1 gap-y-8">
                {color.shades.map((shade) => (
                  <div class="flex flex-col gap-2">
                    <div
                      class={`size-full aspect-square rounded-md ${shade.class}`}
                    />
                    <span class="text-xs text-base-600">{shade.name}</span>
                  </div>
                ))}
              </div>
            </div>
          ))
        }
      </div>
    </Wrapper>
  </section>
</BaseLayout>
