---
import BlogSearch from "@/components/blog/BlogSearch.astro";
// Foundations
import BaseLayout from "@/layouts/BaseLayout.astro";
import Text from "@/components/foundations/elements/Text.astro";
import Wrapper from "@/components/foundations/containers/Wrapper.astro";
// Data
import { fetchAllBlogPosts, fetchAllBlogTags } from "@/data/sanity/fetch";
import { uniqueTagOptions } from "@/utils/tags";

const allPosts = await fetchAllBlogPosts();
const allTags = await fetchAllBlogTags();
const tags = uniqueTagOptions(allTags);
---

<BaseLayout>
  <section>
    <Wrapper variant="standard" class="pt-32">
      <Text
        tag="h1"
        variant="display2XL"
        data-aos="fade-up"
        data-aos-duration="1000"
        class="font-semibold tracking-tighter brand-heading-color lg:text-balance"
      >
        All tags available
      </Text>
      <Text
        tag="p"
        variant="textLG"
        data-aos="fade-up"
        data-aos-duration="1500"
        class="max-w-lg mt-4 font-medium brand-text-color md:text-balance"
      >
        Search around for the tags you are interested in.
      </Text>
    </Wrapper>
    <section>
      <Wrapper variant="standard" class="py-4 border-t brand-border-color">
        <BlogSearch posts={allPosts} />
      </Wrapper>
      <Wrapper variant="standard" class="py-4 border-t brand-border-color">
        <ul role="list" class="mt-2 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-2 xl:grid-cols-4">
          {tags.map((tag) => (
            <li class="p-2 aspect-square bg-base-100 border brand-border-color group rounded-xl shadow flex justify-center items-center relative hover:shadow-xl duration-300">
              <a href={`/blog/tags/${tag.slug}`} class="absolute inset-0" />
              <Text tag="p" variant="textXL" class="capitalize font-medium group-hover:text-teal-600 brand-heading-color">
                {tag.label}
              </Text>
            </li>
          ))}
        </ul>
      </Wrapper>
    </section>
  </section>
</BaseLayout>
